.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .loginContainer {
    text-align: center;

    .loginCard {
      color: var(--button-color);
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-radius: 5px;
      border: 1px solid var(--secondary-color);
      padding: 20px;
      background-color: var(--login-background);
      text-align: center;

      .loginInput {
        height: 30px;
        padding: 10px;
      }

      .loginButton {
        padding: 10px 20px;
        color: var(--text-color);
        background-color: var(--button-color);
        font-weight: bold;
        border: none;
        border-radius: 5px;
        transition: all 100ms ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: var(--button-action-color);
        }

        &:active {
          transform: translateY(1px);
        }

        &:disabled {
          background-color: var(--primary-color);
          cursor: not-allowed;
        }
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
  }
}
