.footer {
  width: 100%;
  max-width: 1140px;
  font-size: 12px;

  .footerListContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .footerList {
      list-style: none;
      padding: 0;

      & li {
        margin-bottom: 10px;
        color: var(--button-color);
        cursor: pointer;

        &:hover {
          color: var(--secondary-color);
        }
      }
    }
  }

  .footerText {
    margin-bottom: 20px;
  }
}
