.newsletter {
  width: 100%;
  margin-top: 50px;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--text-color);

  .newsletterContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;

    .newsletterTitle {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .newsletterInputContainer {
      display: flex;

      & input {
        width: 300px;
        height: 30px;
        padding: 10px;
        border: none;
        margin-right: 5px;
        border-radius: 5px;
        font-size: 20px;
      }

      & button {
        width: 30%;
        height: 50px;
        background-color: var(--button-color);
        color: var(--text-color);
        font-weight: 500;
        border: none;
        border-radius: 5px;
        transition: all 100ms ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: var(--button-action-color);
        }

        &:active {
          transform: translateY(1px);
        }
      }
    }
  }
}
