.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .registerContainer {
    text-align: center;

    .registerCard {
      color: #588585;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-radius: 5px;
      border: 1px solid #decba4;
      padding: 20px;
      background-color: #efdab1b1;
      text-align: center;

      .registerInput {
        height: 30px;
        padding: 10px;
      }

      .registerButton {
        padding: 10px 20px;
        color: #fff;
        background-color: #588585;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        transition: all 100ms ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: #6ba3a3;
        }

        &:active {
          transform: translateY(1px);
        }

        &:disabled {
          background-color: #3e5151;
          cursor: not-allowed;
        }
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
  }
}
